body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #7b68ee, #00FF00);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
  }
  
  #timer {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .days-input {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 16px;
    color: #333;
  }
  
  input[type="text"] {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    background-color: #7b68ee;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #6a5acd;
  }
  